<div class="btn-menu"><a href="#menu"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div><!--  / .btn-menu /  -->
</div><!--  / .inner /  -->
<nav id="menu">
<div id="gnavi">
<ul class="menu">
<li><a href="{{ site.mainurl }}">HOME</a></li>
<!--<li><a href="#">ABOUT</a></li>-->
<li><a href="{{ site.url }}">BLOG</a></li>
<!-- // activate when the time comes
<li><a href="#">EVENTS <span class="i-expand_more pc"></span></a>
<ul class="dropdown">
  <li><a href="#">2016</a></li>
  <li><a href="#">2017</a></li>
</ul>
</li>
<li><a href="#">CONTACT</a></li>
-->
</ul>
</div><!--  / #gnavi /  -->
</nav>
